<div align="center">
  <h1>Quản lý danh mục khách hàng</h1>
  <p style="color: forestgreen">Status: {{statusString}}</p>
  <h2>Mục</h2>
  <table border="1">
    <tr>
      <th>Mục</th>
      <th style="padding-right: 5px"></th>
    </tr>
    <tr *ngFor="let fieldName of fieldNames; let i = index">
      <td>{{fieldName.name}}</td>
      <td style="padding-right: 5px">
        <button (click)="deleteField(fieldName.id)">Xóa</button>
      </td>
    </tr>
  </table>
  <br>
  <p>Thêm mục mới: <input [(ngModel)]="newFieldData">
    <button (click)="createField()">Thêm</button>
  </p>

  <h2>Thêm khách hàng mới</h2>
  <p *ngFor="let fieldName of fieldNames; let i = index">
    {{fieldName.name}}&nbsp;:&nbsp;<input [(ngModel)]="newCustomerData[i]">
  </p>
  <p>
    <button (click)="createNewCustomer()">Thêm</button>
    &nbsp;
    <button (click)="resetNewCustomerInput()">Nhập lại</button>
  </p>

  <h2>Danh sách khách hàng</h2>
  <p>
    Xuất ra: &nbsp;
    <button (click)="exportToCsv()">Excel</button>
    &nbsp;
    <button (click)="exportToPdf()">PDF</button>
  </p>
  <table border="1">
    <tr>
      <th>id</th>
      <th *ngFor="let fieldName of fieldNames">{{fieldName.name}}</th>
      <th style="padding-right: 5px"></th>
    </tr>
    <tr *ngFor="let customerId of customerIds">
      <td>
        {{customerId}}
      </td>
      <td *ngFor="let field of fieldNames; let i = index">
        <span *ngIf="editCustomerMode && customerId == editCustomerId">
          <input size="10" [(ngModel)]="editCustomerData[i]">
        </span>
        <span *ngIf="!(editCustomerMode && customerId == editCustomerId)">
          {{getField(customerId,field.name)}}
        </span>
      </td>

      <td style="padding-right: 5px">
        <span *ngIf="editCustomerMode">
          <span *ngIf="customerId == editCustomerId">
            <button (click)="editCustomerDone()">Xong</button>
            &nbsp;
            <button (click)="editCustomerCancel()">Hủy</button>
          </span>
        </span>
        <span *ngIf="!editCustomerMode">
          <button (click)="editCustomer(customerId)">Sửa</button>
          &nbsp;
          <button (click)="deleteCustomer(customerId)">Xóa</button>
        </span>
      </td>

    </tr>
  </table>

  <br>
</div>
